.dialog-content {
  overflow: auto;
}
.dialog-toolbar {
  padding: 2px 5px;
}
.dialog-tool-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}
.dialog-button {
  padding: 5px;
  text-align: right;
}
.dialog-button .l-btn {
  margin-left: 5px;
}
.dialog-toolbar,
.dialog-button {
  background: #fff;
  border-width: 1px;
  border-style: solid;
}
.dialog-toolbar {
  border-color: #ddd #ddd #ddd #ddd;
}
.dialog-button {
  border-color: #ddd #ddd #ddd #ddd;
}
