.vscode
/easydarwin
/EasyDarwin.exe
/EasyDarwin.exe~
/logs
/*.log
node_modules
*.db
*.db.bak
/*.zip
/*.tar.gz
/*.dev.ini
/*.dev.db
.idea
easydarwin_debug.ini
.DS_Store
Unnamed
*.dev.ini
debug
*.debug.ini
dist
*.iml
vendor
www
go.sum