
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
/EasyCMS/libEasyCMS/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.sdp
*.o
*.exp
/CMS/build/
/CMS/dist/
[Ll]ogs*/
[Pp]rivate*/
*.user
*.264
*.ts
*libEasyHLS/
*.m3u8
/EasyDarwin/build/
/EasyDarwin/dist/
/CommonUtilitiesLib/build/
Movies*/
/CMS/EasyProtocol/EasyProtocol/build/
/CMS/EasyProtocol/EasyProtocol/ProtocolTest/build/
/EasyCMS/EasyProtocol/EasyProtocol/build/
/EasyCMS/EasyProtocol/jsoncpp/build/
/EasyCMS/build/
/EasyProtocol/jsoncpp/build/
/EasyProtocol/EasyProtocol/build/
*.dep.inc
*.opensdf
/EasyCamera/build/
/EasyRedisClient/build/