
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
[Ll]ibEasyCMS/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
*.sdp
*.o
*.exp
/CMS/build/
/CMS/dist/
[Bb]oost*/
[Ll]ogs*/