/* 滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  border-radius: 2em;
  background-color: #f8f8f8;
}

/* 滚动条的宽度 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动条的设置 */
*::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-clip: padding-box;
  background-color: #ddd;
}

/* 滚动条鼠标移上去 */
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
