.light-login {
    background: #dfe0e2 url(../images/pattern.jpg) repeat;
}
.header-space {
    margin : 60px 0;
}

.login-container{
    margin : 0 auto;
    width : 340px;
}

.panel {
    position: fixed;
    visibility: hidden;
    z-index: auto;

    -moz-transform: scale(0,1) translate(-150px);
    -webkit-transform: scale(0,1) translate(-150px);
    -o-transform: scale(0,1) translate(-150px);
    -ms-transform: scale(0,1) translate(-150px);
    transform: scale(0,1) translate(-150px);
}

.panel.visible {
    visibility: visible;
    position: relative;

    -moz-transform: scale(1,1) translate(0);
    -webkit-transform: scale(1,1) translate(0);
    -o-transform: scale(1,1) translate(0);
    -ms-transform: scale(1,1) translate(0);
    transform: scale(1,1) translate(0);

    transition: transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    -o-transition: -o-transform .2s ease;
}
.panel-success {
    border-color: #a6b996;
}