/* 改变主题色变量 */
$--color-primary: #00a65a;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";


.el-upload__input {
    display: none !important;
}

.el-table {
    border: 1px solid #eee;
    border-bottom:0;
}