
	
.visualize { top: 10px; }


h2 { font-size: 18px; color: #222; font-weight: bold; padding-bottom: .25em; margin-bottom: 1em; border-bottom: 1px dotted #CCC; }
h3 { font-size: 14px; color: #444; font-weight: bold; padding-bottom: .5em; margin-bottom: 1.35em; border-bottom: 1px dotted #CCC; }




/* -------------------------------------------------------------- 
   Tickets
-------------------------------------------------------------- */
.ticket {
	padding: 3px 4px;
	text-align: right;
	color: #fff;
	font-size: 10px;
	display: inline;
	white-space: nowrap;
	width: 60px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ticket.open { background-color: #F90; }
.ticket.closed { background-color: #999; }
.ticket.responded { background-color: #222; }



/* -------------------------------------------------------------- 
   Dashboard Tables
-------------------------------------------------------------- */
.support_table .full { width: 70%; font-size: 11px; }
.support_table .who { width: 30%; text-align: right; font-size: 10px; color: #999; }

.info_table .value { width: 25%; font-size: 18px; font-weight: bold; color: #222; }

.inbox_table .avatar { width: 60px; }
.inbox_table .full { width: 80%; font-size: 11px; }
.inbox_table .who { width: 20%;  text-align: right; font-size: 10px; color: #999; }

img.avatar_img
{
	width: 54px; 
	padding: 2px;
	border: 1px solid #CCC; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 

}

#welcome { margin-top: 1em; }
	#welcome table { margin-top: 2.5em; }

	
	


/* -------------------------------------------------------------- 
   Reports Page
-------------------------------------------------------------- */	
#big_stats 
{ 
	/* background: #f3f3f3;  */
	width: 100%; 
	padding: 0; 
	float: left; 
	margin-bottom: 1em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 	
}

	*+html #big_stats { padding-bottom: 2em; }

.stat
{
	width: 29%;
	height: 90px;
	padding: 0 2%;
	float: left;
	position: relative;
	border-left: 1px dotted #CCC;
}

	*+html .stat { height: 100px; }

.stat:first-child { border: none; }

.stat h4
{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 1.5em;
}

.stat .value
{
	font-size: 56px;
	font-weight: bold;
	color: #222;
	line-height: 1em;
}

.stat .view_all
{
	font-size: 11px;
	position: absolute;
	right: 20px;
	bottom: 12px;
}

.report_chart { margin-top: 2em; }
.reports_table .value { width: 100px; text-align: right; }
	.reports_table .value span { background: #F90; font-size: 11px; font-weight: bold; color: #FFF; width: 40px; text-align: center;  padding: 3px 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
	
.reports_table td { padding: 5px; }
