/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 0; margin: 0; }
.form .field { width: 100%; float: left; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { color: #444; margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; top: 6px; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }

.form .upload { margin-bottom: -5em;}


.form .buttonrow { float: left; margin-top: 1em; margin-bottom: 2.5em; margin-left: 145px; display: block; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .uploader { margin-bottom: .5em !important; }


.form .phone_field input { margin-right: 0; }
/*
.form .xsmall { width: 50px; }
.form .small { width: 100px; }
.form .medium { width: 200px; }
.form .large { width: 300px; }
.form .xlarge { width: 400px; }
*/

/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .buttonrow { margin-left: 0; }
.label-top .selector { width: 100%; display: block; float: left; }

.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset label {font-size: 11px; font-weight: normal !important; }
.controlset { margin-bottom: 2.5em; float: left; }
.controlset .controlset-pad { width: 300px; float: left;  }


div.radio { top: 8px; }
div.checker { top: 7px; }