body
{
	background: #FFF;
	font: 12px/1.7em arial,sans-serif;
}

#wrapper
{
	width: 100%;
}

/* -------------------------------------------------------------- 
   Top
-------------------------------------------------------------- */
#top
{
	background: #111;
	width: 100%;
	padding: 4px 0;
	margin: 0;
	border-bottom: 1px solid #555;
}

	#top ul { padding: 0; margin: 0; }
		#top ul.left { float: left; }
		#top ul.right { float: right; }
		
			#top ul li { font-size: 11px; list-style-type: none; margin: 0 .75em; float: left; position: relative; }
				#top ul li:first-child { margin-left: 0; }
		
		#top a { color: #FFF; text-decoration: none; }
			#top a:hover { text-decoration: underline; }
			
	#top .top_alert { font-weight: bold; color: #F90;}
	
	#top .top_icon { padding-left: 20px; }
		#top .top_icon span { background-image: url(./ui-darkness/images/ui-icons_ffffff_256x240.png) !important; width: 16px; height: 16px; position: absolute; left: 0; top: 2px; }



/* -------------------------------------------------------------- 
   Header
-------------------------------------------------------------- */
#header
{
	background: #333;
	width: 100%;
	height: 80px;
	position: relative;
	z-index: 500;
}

	#header h1
	{
		background: url(../images/logo.png) no-repeat 0 0;
		width: 240px;
		height: 32px;
		line-height: 600px;
		overflow: hidden;
		position: relative;
		top: 25px;
		
		text-shadow: 1px 1px 4px rgba(0,0,0,.5);
	}
	
		#header h1 a { display: block; }


/* -------------------------------------------------------------- 
   Nav
-------------------------------------------------------------- */	
	#nav
	{
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
		#nav li
		{
			background: #333 url(../images/el_bg.png) repeat-x 0 0;			
			border: 1px solid #222;
			border-bottom: none;
			list-style-type: none;
			float: left;
			margin: 0 .1em;
			position: relative;
		}
		
		#nav a
		{
			height: 20px;
			color: #FFF;
			font-weight: bold;
			text-decoration: none;
			display: block;
			padding: 8px 15px 8px 15px;
			position: relative;
		
			text-shadow: 1px 1px 4px rgba(0,0,0,.5);
			
			
			-webkit-background-clip: padding-box;
			-moz-background-clip: padding-box;			
			background-clip: padding-box;
		}
		
			#nav li.nav_dropdown a
			{
				background: url(../images/down_arrow.png) no-repeat 90% center;
				padding-right: 32px;				
			}
			
			#nav li.nav_current.nav_dropdown a { background-image: url(../images/down_arrow_333333.png); }
			
			
		
			#nav .nav_icon a { padding-left: 32px; }			
			#nav .nav_icon_only a { background-position: 50% center !important; padding: 8px  0; }
			
			#nav a span
			{
				background-image: url(./ui-darkness/images/ui-icons_ffffff_256x240.png) !important;
				width: 16px;
				height: 16px;
				position: absolute;
				top: 9px;
				left: 8px;
			}		
			
				#nav li.nav_current span { background-image: url(./ui-darkness/images/ui-icons_222222_256x240.png) !important; }
				
		
			#nav li:hover { background-color: #444; }			
			#nav li.nav_current { background-color: #F1F1F1 !important; }
			
				#nav li.nav_current a { color: #333; text-shadow: none; }
			
			
			
				#nav li:hover .nav_menu { display: block; }
			
		#nav .nav_menu
		{
			background: #444;
			width: 160px;
			position: absolute;
			top: 100%;
			right: -1px;
			display: none;
			padding: 8px 8px 5px;
			border: 1px solid #222;
			border-top: none;
		}
		
			#nav .nav_menu *
			{
				background: none;
				border: none !important;
				float: none !important;
				margin: 0 !important;
			}
			
				#nav .nav_menu li
				{
					background: #eee !important;
					margin-bottom: .5em !important;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
				}
				
				#nav .nav_menu li:hover { background-color: #CCC !important; }
				
				#nav .nav_menu a { background-image: none !important; color: #333 !important; text-shadow: none !important; padding: 7px 10px !important; }
				#nav .nav_menu .nav_sub { background-image: url(../images/down_arrow_333333.png) !important; }
		
		
			/* #nav li:hover { z-index: 10000 !important; } */
			
				#nav .nav_menu li > ul
				{
					background: #444;
					width: 160px;
					padding: 8px;
					position: absolute;
					right: 100%;
					top: 0;
					
					display: none;
				}
			
					#nav .nav_menu li:hover > ul { display: block; }
			
			
			



/* -------------------------------------------------------------- 
   Masthead
-------------------------------------------------------------- */			
#masthead
{
	background: #F1F1F1;
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3.5em;
}

	#masthead h1
	{
		font-size: 28px;
		font-weight: normal;
		color: #222;
		position: relative;
		top: 20px;
		margin-bottom: 1em;
	}
	
		#masthead h1.no_breadcrumbs
		{
			top: 32px;
		}
	
	#masthead #bread_crumbs
	{		
		color: #9B9B9B;
	}
	
	#masthead #bread_crumbs a
	{
		font-size: 11px;
		color: #9B9B9B;
		padding: 0 .5em;
	}
	
	#masthead #bread_crumbs a:first-child { padding-left: 0; }
	
	#masthead #bread_crumbs .current_page { text-decoration: none; color: #333; }
	


/* -------------------------------------------------------------- 
   Search
-------------------------------------------------------------- */	
#search
	{
		position: absolute;
		right: 0;
		top: 30px;
	}
	
	#search input
	{
		background: #fff;
		width: 200px;
		color: #999;
		padding: 7px;
		margin-right: .25em;
	}
	
	#search .submit
	{
		background: url(../images/search-icon.png) no-repeat 0 0;
		border: none !important;
		cursor:pointer;
		height: 30px;
		padding:0;
		position:absolute;
		right: 5px;
		top:9px;
		width:20px;
		
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	#search button
	{
		position: relative;
		top: -1px;
		*top: 3px;
	}


/* -------------------------------------------------------------- 
   Content
-------------------------------------------------------------- */
#content
{
	width: 964px;
	margin: 0 auto;
}

.content_pad { width: 940px; height: 100%; margin: 0 auto; position: relative; }
	
.content_pad:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.content_pad {
	display: inline-block;
}
 
html[xmlns] .content_pad {
	display: block;
}
 
* html .content_pad {
	height: 1%;
}		



/* -------------------------------------------------------------- 
   Footer
-------------------------------------------------------------- */
#footer
{
	background: #333;
	border-top: 3px solid #111;
	position: relative;
	margin-top: 4em;
	clear: both;
}

	*+html #footer { float: left; }

	#footer .content_pad
	{
		font-size: 11px;
		color: #FFF;
		text-align: center;
		padding: 20px 0 30px;
	}
	
		#footer .content_pad a { color: #FFF; }









/* -------------------------------------------------------------- 
   Tabs
-------------------------------------------------------------- */
.tab_container { }

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	width: 100%;
}

	ul.tabs li 
	{
		float: left;
		margin: 0;
		padding: 0;
		height: 31px;
		line-height: 31px;
		border: 1px solid #CCC;
		border-left: none;
		margin-bottom: -1px;
		background: #e0e0e0 url(../images/accordion_header.png) repeat-x top right;
		overflow: hidden;
		position: relative;
	}
	
		ul.tabs li a 
		{
			text-decoration: none;
			color: #222;
			display: block;
			font-size: 1.2em;
			padding: 0 20px;
			border: 1px solid #fff;
			outline: none;
		}
		
			ul.tabs li a:hover { background: #ccc; }	
			ul.tabs li.active, ul.tabs li.active a:hover  { background: #fff; border-bottom: 1px solid #fff; }

.tab_content_container 
{
	border: 1px solid #CCC;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
	.tab_content { font-size: 1.2em; padding: 20px 20px 10px; display: none; }
	
	.tab_content:first-child { display: block; }
	
	
	
	
/* -------------------------------------------------------------- 
   Accordion
-------------------------------------------------------------- */
h2.accordion_panel 
{
	background: url(../images/accordion_header.png) no-repeat;
	width: 100%;
	height: 36px;	
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	padding: 0;	
	margin: 0 0 .5em 0;	
	border: 1px solid #C5C5C5;
	
	cursor: pointer;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

	h2.accordion_panel a 
	{
		color: #222;
		text-decoration: none;
		padding: 0 0 0 40px;
	}
	
		h2.active {background-position: left bottom; border-color: #000; }	
			h2.active a { color: #FFF; }
			
.accordion_content 
{
	width: 100%;
	font-size: 1.2em;
	padding: 0;
	margin: 1em 0 5px;
	overflow: hidden;
	clear: both;
	display: none;
}

	
	
	.accordion_content:first-child { display: block; }
