.apg-mini { margin: 0 auto; }

.apg-mini-2 { width: 470px; text-align: center; }
.apg-mini-3 { width: 700px; text-align: center; }
.apg-mini-4 { width: 960px; text-align: center; }

.apg-mini .apg-option
{
	background: #EEE !important;
	background: -moz-linear-gradient(top,  #FFFFFF 65%, #EEEEEE 100%) !important;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.65, #FFFFFF ), color-stop(1, #EEEEEE)) !important;	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE') !important;	
	width: 220px;
	text-align: center;
	border: 1px solid #DDD;
	border-top-color: #fff;
	padding: 0;
	color: #333;
	margin: 0 10px 0 0;
	
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
	
	position: relative;
	z-index: 1;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.05);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

	.apg-mini .apg-header
	{
		background: #333 url(../images/el_bg.png) repeat-x 0 0;
		color: #FFF;
		padding: 0;
		margin: 0 0 .85em;
		position: relative;	
		text-align: left;	
		border-top: 1px solid #000;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	
		.apg-mini .apg-header h1
		{
			font-size: 20px;
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.6);
			padding: 13px 10px;
		}

.apg-mini .apg-content { font-size: 12px; padding: 0 15px; }

.apg-mini .apg-footer
{
	background: #E4E4E4;
	height: 30px;
	display: block;
	padding: 1em 0;
	position: relative;
	border-top: 1px solid #DDD;
}

	.apg-mini .apg-price
	{
		font-size: 20px; 
		color: #555; 
		position: absolute !important;
		left: 15px;
		top: 16px;
	}
	
		.apg-mini .apg-label { font-size: 14px; }

	.apg-mini .apg-footer .btn { position: absolute !important; right: 10px; top: 14px; }
	.apg-mini .apg-footer .btn:active { top:15px; }

.apg-mini ul { text-align: left; padding: 0; margin: 0 0 1.5em 2px; list-style-type: square; }

	.apg-mini li
	{
		background: url(../images/orange_bullet.png) no-repeat left 5px;
		list-style-type: none;
		font-weight: normal;
		color: #333;
		padding: 0 0 .5em 18px;
	}	

	.apg-mini p
	{
		text-align: left;
		margin-bottom: 1.35em;
	}

.apg-mini a.button
{	
	display: inline-block; 
}

.apg-mini .apg-your-plan
{
	background: url(../images/banner_your_plan.png) no-repeat 0 0;
	width: 66px;
	height: 67px;
	position: absolute;
	right: 0;
	top: 0;
}